.modal-content {
    width: 50%; /* 幅を50%に設定 */
    height: 20%; /* 高さは内容に合わせて自動調整 */
    margin: 15% auto; /* 中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 20px; /* 角を丸くする */
    overflow: hidden; /* コンテンツがボックス外にはみ出さないようにする */
}

.big-modal-content {
    width: 50%; /* 幅を50%に設定 */
    height: 25%; /* 高さは内容に合わせて自動調整 */
    margin: auto; /* 中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    background-color: white;
    border-radius: 20px; /* 角を丸くする */
    overflow-y: auto;
}

.big-modal-content p {
    margin-left: 20px;
}

.big-modal-content p,
.big-modal-content form,
.big-modal-content input,
.big-modal-content button {
    margin-top: 5px; /* 上のマージンを5pxに設定 */
    margin-bottom: 5px; /* 下のマージンを5pxに設定 */
}

.modal {
    display: none; /* 最初は非表示 */
    position: fixed;
    z-index: 1; /* 他の要素より上に表示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* モーダル外のスクロールを許可 */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.4); /* 背景色（透明度付き） */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
