.sidebar {
    /* width: 180px; */
    width: 15%;
    background-color: #57a09b;
    color: #fff;
    box-sizing: border-box; /* パディングが要素のサイズに含まれるようにボックスモデルを設定 */
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%; /* 画面の端に配置 */
    margin-top: 0%;
    height: 100vh;
}

/* 画像に関するデザイン */
.sidebar-image-container {
    text-align: center; /* 画像を中央に配置 */
    padding: 10px; /* 画像周りの余白 */
    margin-top: 20px; /* 他の要素との間にスペースを作る */
}
.sidebar-image-container img {
    max-width: 100%; /* 画像がコンテナより大きくならないようにする */
    height: auto; /* 画像の比率を維持 */
}
/* サイドバーの項目に関するデザイン */
.sidebar nav ul {
    list-style: none;
    padding: 0;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
.sidebar nav ul li {
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin-left: 25px;
}
.sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color 0.3s;
}
.sidebar nav ul li a:hover {
    background-color: #e7f1ff;
}

/* アイコンに関するデザイン */
.sidebar nav ul li i {
    margin-right: 8px;
    color: #fff;
    width: 20px; /* アイコンの幅を固定します */
    min-width: 20px; /* アイコンの最小幅を固定します */
    text-align: center; /* アイコンを中央揃えにします */
}
/* テキストに関するデザイン */
.sidebar nav ul li a span {
    display: block; /* テキストをブロックレベルの要素にします */
    text-align: left; /* テキストを左揃えにします */
}
