/* ヘッダースタイル */
header {
    width: 100%;
    background-color: #1f716a;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}

/* 共通のスタイル */
.wrapper {
    width: 94%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin-left: 0; /* 画面の端に配置 */
}
/* サイドバー */
.sidebar {
    width: 180px;
    background-color: #57a09b;
    color: #fff;
    padding-top: 0%; /* メインコンテンツとの間にスペースを追加 */
    padding-bottom: 0%; /* メインコンテンツとの間にスペースを追加 */
    box-sizing: border-box; /* パディングが要素のサイズに含まれるようにボックスモデルを設定 */
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%; /* 画面の端に配置 */
    margin-top: 0%;
    height: 100vh;
}

.sidebar ul {
    padding-left: 0;
    text-align: center;
}

.sidebar ul li {
    list-style-type: none;
    text-align: center;
}

.sidebar ul li i {
    margin-right: 8px;
    color: #fff;
}

.sidebar-image-container {
    text-align: center; /* 画像を中央に配置 */
    padding: 10px; /* 画像周りの余白 */
    margin-top: 20px; /* 他の要素との間にスペースを作る */
}

.sidebar-image-container img {
    max-width: 100%; /* 画像がコンテナより大きくならないようにする */
    height: auto; /* 画像の比率を維持 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a i {
    width: 20px; /* アイコンの幅を固定します */
    min-width: 20px; /* アイコンの最小幅を固定します */
    margin-right: 10px; /* アイコンとテキストの間に余白を追加します */
    text-align: center; /* アイコンを中央揃えにします */
}

nav ul li a span {
    display: block; /* テキストをブロックレベルの要素にします */
    text-align: left; /* テキストを左揃えにします */
}

nav ul li a:hover {
    background-color: #e7f1ff;
}

/* メインコンテンツ */
.main {
    flex: 1; /* メインコンテンツが残りのスペースを占有するように設定 */
    text-align: center;
    margin-left: 0; /* サイドバーとの間にスペースを追加 */
    /* メインコンテンツの幅を調整 */
    width: calc(100% - 180px); /* サイドバーの幅を引いた分の幅をメインコンテンツに設定 */
}

/* 共通スタイル */

h1 {
    text-align: center;
}

/* テーブルスタイル */
table {
    width: 740px;
    margin: 20px auto;
    border: none;
    border-collapse: collapse;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    table-layout: fixed;
    border-spacing: 0; /* セル間のスペースをなくす */
    border-radius: 15px; /* 角を丸くする */
    overflow: hidden; /* 内容がはみ出した時に隠す */
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}

th:first-child, td:first-child {
    width: 15%;
}

th, td {
    width: auto;
}



/* その他スタイル */

/* レスポンシブデザイン */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    nav ul li a {
        display: block;
    }
}

/* その他の要素のスタイル */

.lecture {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 8px; 
    background-color: #e8eaf6; 
    border-radius: 8px; 
    margin: 2px; 
    height: 80px; 
    box-sizing: border-box; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis; 
}


td {
    position: relative; 
    padding: 2px; 
    text-align: center; 
    vertical-align: middle; 
}

td .free {
    display: block;
    padding: 10px;
    margin: 4px;
}

.free-slot {
    display: block;
    background-color: #f8e8f6;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 2px;
    height: 80px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.free-slot:hover {
    background-color: #e0d0f0; /* ホバー時の色 */
}

.form-container {
    width: 300px; /* 必要に応じて幅を調整してください */
    float: left; /* コンテナを左側に配置します */
    margin-right: 20px; /* フォームと他のコンテンツとの間にスペースを追加します */
}

/* ポップアップ */
.open {
	cursor:pointer;
    font-size: 1.5em;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window {
	position: fixed;
	top: 100%;
	left: 100%;
	width: 90vw;
	max-width: 360px;
    padding: 20px;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
}
.close {
	position: absolute;
	top: 100%;
	left: 50%;
	cursor:pointer;
}