body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Arial", sans-serif;
}

p {
    text-align: center;
}

/* メインコンテンツ */
.main {
    flex: 1; /* メインコンテンツが残りのスペースを占有するように設定 */
    text-align: center;
    margin-left: 0; /* サイドバーとの間にスペースを追加 */
    padding: 0;
    /* メインコンテンツの幅を調整 */
    width: calc(100% - 180px);
    /* width: 80%; サイドバーの幅を引いた分の幅をメインコンテンツに設定 */
}

/* ボタンの基本スタイル */
.main button {
    background-color: #e2e2e2; /* ボタンの背景色 */
    color: rgb(56, 56, 56); /* テキストの色 */
    padding: 7px 7px; /* 内側の余白 */
    border: none; /* ボーダーなし */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    text-align: center; /* テキストを中央揃えにする */
    text-decoration: none; /* テキストの装飾をなくす */
    display: inline-block; /* インラインブロック要素として表示 */
    font-size: 12px; /* フォントサイズ */
    transition: background-color 0.3s, color 0.3s; /* 背景色とテキスト色の遷移効果 */
}

/* ホバー時のスタイル */
.main button:hover {
    background-color: #bdbdbd; /* ホバー時の背景色 */
    color: rgb(56, 56, 56); /* ホバー時のテキスト色 */
}

.right {
    width: 300px; /* 必要に応じて幅を調整 */
    float: right; /* 右側に配置 */
    margin-right: 20px; /* 他の要素との間にスペースを追加 */
}
/* -------------------- */
/* 共通スタイル */

h1 {
    text-align: center;
}
/* -------------------- */

/* その他スタイル */

/* レスポンシブデザイン */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    nav ul li a {
        display: block;
    }
}

/* その他の要素のスタイル */

.lecture {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 8px; 
    background-color: #e8f6f6ee; 
    border-radius: 8px; 
    margin: 2px; 
    height: 80px; 
    box-sizing: border-box; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.free-slot {
    display: block;
    background-color: #f8e8f6;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 2px;
    height: 80px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.free-slot:hover {
    background-color: #d0f0e9; /* ホバー時の色 */
}

.form-container {
    width: 300px; /* 必要に応じて幅を調整してください */
    float: left; /* コンテナを左側に配置します */
    margin-right: 20px; /* フォームと他のコンテンツとの間にスペースを追加します */
}

.discription {
    background-color: #e8f6f6ee; 
    /* border-radius: 8px;  */
    box-shadow: 0 2px 3px #ccc;
}