<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>時間割</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<header>
    <h1>週間時間割</h1>
</header>
<div class="wrapper">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> <span>ホーム</span></a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i> <span>ログイン</span></a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>ログアウト</span></a></li>
                <li><a href="/timetable_registration"><i class="fas fa-calendar-plus"></i> <span>時間割登録</span></a></li>
                <li><a href="/timetable_sharing"><i class="fas fa-users"></i> <span>時間割共有</span></a></li>
                <li><a href="/add_friends"><i class="fas fa-user-plus"></i> <span>友達追加</span></a></li>
                <li><a href="/lecture_list"><i class="fas fa-list"></i> <span>授業一覧</span></a></li>
                <li><a href="/lecture_creation"><i class="fas fa-plus-circle"></i> <span>授業作成</span></a></li>
            </ul>
        </nav>
    </aside>
    <main class="main">
        <table>
            <tr>
                <th>授業名</th>
                <th>授業ID</th>
                <th>曜日</th>
                <th>時限</th>
                <th>単位</th>
                <th>必修</th>
                <th>先生</th>
                <th>教室</th>
                <th>学期</th>
                <th>学科</th>
            </tr>
            {% for lecture in json %}
            <tr>
                <td>{{ lecture.name }}</td>
                <td>{{ lecture.class_id }}</td>
                <td>{{ lecture.day }}</td>
                <td>{{ lecture.period }}</td>
                <td>{{ lecture.unit }}</td>
                <td>{{ lecture.must }}</td>
                <td>{{ lecture.teacher }}</td>
                <td>{{ lecture.room }}</td>
                <td>{{ lecture.term }}</td>
                <td>{{ lecture.department }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</div>