<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>時間割</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>週間時間割</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="/logout">ログアウト</a></li>
                <li><a href="/timetable_registration">時間割登録</a></li>
                <li><a href="/timetable_sharing">時間割共有</a></li>
                <li><a href="/add_friends">友達追加</a></li>
                <li><a href="/lecture_list">授業一覧</a></li>
                <li><a href="/lecture_creation">授業作成</a></li>
            </ul>
        </nav>
    </header>
    <table>
        <tr>
            <th>授業名</th>
            <th>授業ID</th>
            <th>曜日</th>
            <th>時限</th>
            <th>単位</th>
            <th>必修</th>
            <th>先生</th>
            <th>教室</th>
            <th>学期</th>
            <th>学科</th>
        </tr>
        {% for lecture in json %}
        <tr>
            <td>{{ lecture.name }}</td>
            <td>{{ lecture.class_id }}</td>
            <td>{{ lecture.day }}</td>
            <td>{{ lecture.period }}</td>
            <td>{{ lecture.unit }}</td>
            <td>{{ lecture.must }}</td>
            <td>{{ lecture.teacher }}</td>
            <td>{{ lecture.room }}</td>
            <td>{{ lecture.term }}</td>
            <td>{{ lecture.department }}</td>
            <td>
                <!-- 削除ボタン -->
                <form method="post" action="/removeClass">
                    <input type="hidden" name="class_id" value="{{ lecture.class_id }}">
                    <input type="submit" value="削除">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>