<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>時間割</title>
        <link rel="icon" href="../static/TimeTie.png" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <aside class="sidebar">
            <nav>
                <div class="sidebar-image-container">
                    <img src="../static/TTTT.png" alt="説明テキスト">
                </div>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> <span>ホーム</span></a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i> <span>ログイン</span></a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>ログアウト</span></a></li>
                    <li><a href="/timetable_registration"><i class="fas fa-calendar-plus"></i> <span>時間割登録</span></a></li>
                    <li><a href="/timetable_sharing"><i class="fas fa-users"></i> <span>時間割共有</span></a></li>
                    <li><a href="/add_friends"><i class="fas fa-user-plus"></i> <span>友達追加</span></a></li>
                    <li><a href="/lecture_list"><i class="fas fa-list"></i> <span>授業一覧</span></a></li>
                    <li><a href="/lecture_creation"><i class="fas fa-plus-circle"></i> <span>授業作成</span></a></li>
                </ul>
                <p>こんにちは、{{ username }}さん</p>
            </nav>
        </aside>
        <main class="main">
            <h1>週間時間割</h1>
            <table>
                <tr>
                    <th>時間</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th>土</th>
                    <th>オンデマンド</th>
                </tr>
                {% for i in range(5) %}
                <tr>
                    {% if i == 0 %}
                    <td class="time">1限<br>9:00 - 10:40</td>
                    {% elif i == 1 %}
                    <td class="time">2限<br>10:50 - 12:30</td>
                    {% elif i == 2 %}
                    <td class="time">3限<br>13:20 - 15:00</td>
                    {% elif i == 3 %}
                    <td class="time">4限<br>15:10 - 16:50</td>
                    {% elif i == 4 %}
                    <td class="time">5限<br>17:00 - 18:40</td>
                    {% endif %}
                    {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Ondemand"] %}
                    {% set lecture = timetable.get(day)[i] if timetable.get(day)%}
                    <td>
                        {% set name = lecture["name"] %}
                        {% set room = lecture["room"] %}
                        {% set teacher = lecture["teacher"] %}
                        {% set id = lecture["class_id"] %}

                        <div class="lecture" onclick="handleClick('{{ name }}', '{{ day }}', '{{ i+1 }}', '{{ room }}', '{{ teacher }}')">{{ name }}</div>
                        <div id="popupContainer" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closePopup()">&times;</span>
                                <p id="lectureInfo">授業情報</p>
                                <button id="unregisterButton" onclick="unregisterCourse('{{id}}', '{{current_user.username}}')">履修解除</button>
                            </div>
                        </div>
                    </td>
                    
                    {% endfor %}
                </tr>
                {% endfor %}
                <script>
                    function showModal(name, day, period, room, teacher) {
                        var infoText = '授業名: ' + name + '\n曜日: ' + day + '\n時限: ' + period + "\n部屋: " +  room + "\n担当教師: " + teacher;
                        document.getElementById('lectureInfo').innerText = infoText;
                        document.getElementById('popupContainer').style.display = 'flex';
                    }
                    function closePopup() {
                        document.getElementById('popupContainer').style.display = 'none';
                    }
                    function handleClick(name, day, period, room, teacher) {
                        if (name == "") {
                            location.href = "/timetable_registration_designation?day=" + day + "&period=" + period;
                        } else {
                            // alert(lecture['name']+"\n"+lecture['room']+"\n"+lecture[unit])
                            showModal(name, day, period, room, teacher);
                            
                        }
                    }
                    function unregisterCourse(id, username) {
                        // Ajaxを使用してPOSTリクエストを送信
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "http://52.69.43.211/removeCourse", true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        xhr.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                            // レスポンス処理
                            alert("履修解除が完了しました");
                            }
                        };

                        // POSTパラメータとして送信するデータ
                        var params = 'class_id=' + encodeURIComponent(id) + '&name=' + encodeURIComponent(username);
                        xhr.send(params);
                    }
                </script>
            </table>
        </main>
    </body>

</html>
