<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>時間割</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>週間時間割</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="/logout">ログアウト</a></li>
                <li><a href="/timetable_registration">時間割登録</a></li>
                <li><a href="/timetable_sharing">時間割共有</a></li>
                <li><a href="/add_friends">友達追加</a></li>
                <li><a href="/lecture_list">授業一覧</a></li>
                <li><a href="/lecture_creation">授業作成</a></li>
            </ul>
        </nav>
    </header>
    <h1>時間割登録</h1>
    <form action="/timetable_registration" method="POST">
        <input type="text" name="class_name" placeholder="Class Name">
        <select name="class_day">
            <option value="">Select class day</option>
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Ondemand">Ondemand</option>
        </select>
        <select name="class_time">
            <option value="">Select class time</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="number" name="class_unit" placeholder="Class Unit">
        <select name="must_flag">
            <option value="">Select must</option>
            <option value=0>選択</option>
            <option value=1>必修</option>
        </select>
        <input type="text" name="teacher_name" placeholder="Teacher Name">
        <input type="text" name="room" placeholder="Room">
        <select name="term">
            <option value="">Select term</option>
            <option value="Spring">Spring</option>
            <option value="Fall">Fall</option>
        </select>
        <select name="department">
            <option value="">Select department</option>
            <option value="DM">DM</option>
            <option value="CS">CS</option>
        </select>
        <button type="submit">検索</button>
    </form>
    {{data}}
    <table>
        <tr>
            <th>授業名</th>
            <th>授業ID</th>
            <th>曜日</th>
            <th>時限</th>
            <th>単位</th>
            <th>必修</th>
            <th>先生</th>
            <th>教室</th>
            <th>学期</th>
            <th>学科</th>
        </tr>
        {% for lecture in json %}
        <tr>
            <td>{{ lecture.name }}</td>
            <td>{{ lecture.class_id }}</td>
            <td>{{ lecture.day }}</td>
            <td>{{ lecture.period }}</td>
            <td>{{ lecture.unit }}</td>
            <td>{{ lecture.must }}</td>
            <td>{{ lecture.teacher }}</td>
            <td>{{ lecture.room }}</td>
            <td>{{ lecture.term }}</td>
            <td>{{ lecture.department }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/timetable_registration" method="POST">
        <input type="number" name="class_id" placeholder="Class ID">
        <button type="submit">登録</button>
    </form>
</body>
