<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>時間割</title>
        <link rel="icon" href="../static/TimeTie.png" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="{{ url_for('static', filename='table.js') }}"></script>
        <style>
            .myAndYourLecture {
                background-color: #ffdcf6;
                color: black;
            }
            .MyLecture{
                background-color: #b9f8cc;
                color: black;
            }
            .YourLecture{
                background-color: #d7ffff;
                color: black;
            }
            .emptyLecture{
                background-color: #e8e8e8;
                color: black;
            }

        </style>
    </head>
    <body>
        <aside class="sidebar">
            <nav>
                <div class="sidebar-image-container">
                    <a href="/" >
                        <img src="../static/TTTT.png" alt="説明テキスト">
                    </a>
                </div>
                <div class="sidebar-text-container">
                    <ul>
                        <li><a href="/"><i class="fas fa-home"></i> <span>ホーム</span></a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> <span>ログイン</span></a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>ログアウト</span></a></li>
                        <!-- <li><a href="/timetable_registration"><i class="fas fa-calendar-plus"></i> <span>時間割登録</span></a></li> -->
                        <li><a href="/timetable_sharing"><i class="fas fa-users"></i> <span>時間割共有</span></a></li>
                        <li><a href="/add_friends"><i class="fas fa-user-plus"></i> <span>友達追加</span></a></li>
                        <li><a href="/lecture_list"><i class="fas fa-list"></i> <span>授業一覧</span></a></li>
                        <li><a href="/lecture_creation"><i class="fas fa-plus-circle"></i> <span>授業作成</span></a></li>
                    </ul>
                </div>
                <p>こんにちは、{{ myusername }}さん</p>
            </nav>
        </aside>
        <main class="main">
            <h1>時間割共有</h1>
            <h2>
                {% set selected_friend = request.args.get('selected_friend') %}
                {% if selected_friend in friendstimetable %}
                    選択された友達: {{ selected_friend }}
                {% else %}
                    友達が選択されていません
                {% endif %}
            </h2>
            <form>
                <select id="friendsDropdown" name="selected_friend" onchange="this.form.submit()">
                    <option value="" selected disabled>友達を選択</option>
                    {% for name, _ in friendstimetable.items() %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </form>
            <table>
                <tr>
                    <th>時間</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th>土</th>
                    <th>オンデマンド</th>
                </tr>
                {% for i in range(5) %}
                <tr>
                    {% if i == 0 %}
                    <td class="time">1限<br>9:00 - 10:40</td>
                    {% elif i == 1 %}
                    <td class="time">2限<br>10:50 - 12:30</td>
                    {% elif i == 2 %}
                    <td class="time">3限<br>13:20 - 15:00</td>
                    {% elif i == 3 %}
                    <td class="time">4限<br>15:10 - 16:50</td>
                    {% elif i == 4 %}
                    <td class="time">5限<br>17:00 - 18:40</td>
                    {% endif %}
                    {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Ondemand"] %}
                    <td>
                        {% set selected_friend = request.args.get('selected_friend') %}
                        {% if selected_friend and selected_friend in friendstimetable %}
                            {% set my_schedule = friendstimetable[myusername].get(day, []) %}
                            {% set friend_schedule = friendstimetable[selected_friend].get(day, []) %}
                            {% if friend_schedule and i < friend_schedule|length %}
                                {% set myLecture = my_schedule[i] %}
                                {% set yourLecture = friend_schedule[i] %}
                                {% if myLecture != '' %}
                                    {% if myLecture == yourLecture %}
                                        <div class="lecture myAndYourLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                                    {% else %}
                                        <div class="lecture MyLecture" onclick="handleClick('{{ myLecture }}')">{{ myLecture }}</div>
                                    {% endif %}
                                {% elif yourLecture != '' %}
                                    <div class="lecture YourLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                                {% else %}
                                    <div class="lecture emptyLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="lecture notSelected">友達が選択されていません</div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <p><span style="background-color: #ffdcf6;">どちらも授業を取っている　</span></p>
            <p><span style="background-color: #b9f8cc;">自分だけ授業を取っている　</span></p>
            <p><span style="background-color: #d7ffff;">友達だけ授業を取っている　</span></p>
            <p><span style="background-color: #e8e8e8;">どちらも授業を取っていない</span></p>
        </main>
    </body>

</html>