<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>時間割</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .myAndYourLecture {
            background-color: #ff0000;
            color: black;
        }
        .MyLecture{
            background-color: #00ff00;
            color: black;
        }
        .YourLecture{
            background-color: #0000ff;
            color: black;
        }
        .emptyLecture{
            background-color: #c0c0c0;
            color: black;
        }

    </style>
</head>

<body>
    <header>
        <h1>週間時間割</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/login">ログイン</a></li>
                <li><a href="/logout">ログアウト</a></li>
                <li><a href="/timetable_registration">時間割登録</a></li>
                <li><a href="/timetable_sharing">時間割共有</a></li>
                <li><a href="/add_friends">友達追加</a></li>
                <li><a href="/lecture_list">授業一覧</a></li>
                <li><a href="/lecture_creation">授業作成</a></li>
            </ul>
        </nav>
    </header>
    <table>
        <tr>
            <th>時間</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>オンデマンド</th>
        </tr>
        {% for i in range(5) %}
        <tr>
            {% if i == 0 %}
            <td class="time">1限<br>9:00 - 10:40</td>
            {% elif i == 1 %}
            <td class="time">2限<br>10:50 - 12:30</td>
            {% elif i == 2 %}
            <td class="time">3限<br>13:20 - 15:00</td>
            {% elif i == 3 %}
            <td class="time">4限<br>15:10 - 16:50</td>
            {% elif i == 4 %}
            <td class="time">5限<br>17:00 - 18:40</td>
            {% endif %}
            {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Ondemand"] %}
            <td>
                {% set selected_friend = request.args.get('selected_friend') %}
                {% if selected_friend and selected_friend in friendstimetable %}
                    {% set my_schedule = friendstimetable[myusername].get(day, []) %}
                    {% set friend_schedule = friendstimetable[selected_friend].get(day, []) %}
                    {% if friend_schedule and i < friend_schedule|length %}
                        {% set myLecture = my_schedule[i] %}
                        {% set yourLecture = friend_schedule[i] %}
                        {% if myLecture != 'フリー' %}
                            {% if myLecture == yourLecture %}
                                <div class="lecture myAndYourLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                            {% else %}
                                <div class="lecture MyLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                            {% endif %}
                        {% elif yourLecture != 'フリー' %}
                            <div class="lecture YourLecture" onclick="handleClick('{{ yourlecture }}')">{{ yourLecture }}</div>
                        {% else %}
                            <div class="lecture emptyLecture" onclick="handleClick('{{ yourLecture }}')">{{ yourLecture }}</div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="lecture notSelected">友達が選択されていません</div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form>
        <select id="friendsDropdown" name="selected_friend" onchange="this.form.submit()">
            <option value="" selected disabled>友達を選択</option>
            {% for name, _ in friendstimetable.items() %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </form>
</body>

</html>